node_modules/
*.log
.env
.DS_Store
dist/
build/
.yarn/
package-lock.json
yarn.lock
.expo/
.expo-shared/
.next/
*.tgz
*.tar.gz
coverage/
.nyc_output/
.cache/
.parcel-cache/
.temp/
.tmp/
.vercel/
.netlify/
